body {
    font-family: Roboto;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.dark-bg {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    margin: 0 85px;
    background-color: #1F2937;
}
.nav-bar{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.logo {
    font-size: 24px;
    color: #F9FAf8;

}
.nav {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin-left: auto;

}
.nav li {
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
}

.main-container {
    display: flex;   
    margin-bottom: 50px;
}

.sub-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;

}

.main-text  {
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
    max-width: 600px;
}
button {
    color:white;
    background-color: #3882F6;
    max-width: 80px;
    border-radius: 10px;
    padding: 10px;
}

p {
    color: white;
    max-width: 600px;
}

img 
{
    margin-left: auto;
    max-width: 400px;
    padding: 25px 0px;

}

.white-bg 
{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.main-information 
{
    display: flex;
    justify-content: space-around;
    gap: 30px;

}

.card 
{
    display: flex;
    flex-direction: column;
    max-width: 150px;
}

.card-img 
{
    max-width: 150px;
   
}

.information-header-text
{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.grey-bg
{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;

}

.quote p
{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}